.fheader {
	font-size: 17px;
	font-weight: bold;
	font-style: "Times New Roman",Georgia,Serif;
	color: #06c;
}
#title{
	color:green;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1.5px;
}
#subTitleCaption {
	color: green;
	font-size: 14px;
	padding-left: 20px;
}


table,th, td
{
border: 2px solid gray;
}